.action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .action-icon {
        font-size: 22px;
        padding: 12px;
        border-radius: 50%;
        background-color: rgba(22, 24, 35, 0.06);
        cursor: pointer;
    }
    .tym {
        color: red;
    }
    p {
        line-height: 100%;
        margin: 8px 0;
    }
}